* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: #FAA0A0;
}

p {
    text-align: justify;
    margin-top: 10px;
}

p:last-of-type {
    margin-top: 10px;
}

.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222; 
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: #FAA0A0;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-left: 10px;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer; 
}

nav .togglebtn span {
    display: block;
    background-color: #FAA0A0;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.1);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span {
    color: #FAA0A0;
    font-size: 16px;
}

.hero-text h1 {
    color:#FAA0A0;
    font: 3rem;
}

.hero-text p {
    color: #e5e5e5;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn.active {
    border-color: #FAA0A0;
}

.hero-text .social i {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
    float: right;
}

.hero-text .social i:hover {
    color: #FAA0A0;
    transform: rotate(360deg);
}

/*/____________________________ Timeline CSS ____________________________*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #222;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container1 {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container1::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #222;
  border: 4px solid rgb(82, 82, 82);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(4, 3, 3);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(3, 3, 3);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(8, 7, 7);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(8, 6, 6) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #222;
  color: #fff;
  position: relative;
  border-radius: 6px;
}

/*_______________ Bouncing arrow ________________*/

.fa-chevron-down:before {
    color: #FAA0A0;
    cursor: pointer;
}

.button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

/* Scroll down indicator (bouncing) */

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      --webkit-transform: translateY(0);
      transform: translateX(0);
    }
    40% {
      --webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      --webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  
  @-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -ms-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  
  .bounce {
    --webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

/* Responsive & displaying navbar for small screen */

@media only screen and (max-width: 600px) {
    nav .togglebtn {
        display: initial;
    }
    /* for toggle button */
    .click {
        top: 45px;
    }
    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks {
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0,5;
        padding: 25px 0px;
    }
    nav .navlinks li {
        display: block;
    }
    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open {
        right: 0;
    }
    .container {
        flex-direction: column;
        padding-top: 2rem; 
    }
    .hero-text {
        padding: 40px 0px;
    }
    .button {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}

/*
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        padding-top: 2rem; 
    }
    .hero-text {
        padding: 40px 0px;
    }

}
*/

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .hero-pic img:hover {
        transform: none;
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container1 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container1::before {
    left: 60px;
    border: medium solid #222;
    border-width: 10px 10px 10px 0;
    border-color: transparent #222 transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}